{
  "client_id": "35b86a-4b8b-4cbf-a75d-3a33c9f5745c",
  "client_secret": "nvr28~NsWgWnGBrInHeYoqu5rz4WSMUFG4rNI",
  "tokenurl": "https://auth.pingone.com",
  "api_url": "https://api.pingone.com/v1/environments",
  "ENV": "737bc99a-ed97-4cd25-3-2ab7260a5",
  "RISKPOLICYID": "749c0a4e-284-014-21a-8cbe6c50",
  "LOWRATIO": "4",
  "LOWRISK": "NA",
  "BADACTORS": "NO",
  "grant_type": "client_credentials"
}
